/* HEADER */

.logo{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0rem;
}

.website-header{
    background-color: #450d45;
}

header .header-container nav ul{
    margin: auto !important;
}

/* FOOTER */

/* footer .footer-container{
    text-align: center;
}
.footer-container .footer-text{
    margin-top: 1rem;
    border-top: 1px solid rgb(211, 211, 211);
    padding: 1.5rem 0;
} */
 
footer{    
    color: #000;
    background-color: #d3d1d1;
}
footer .footer-wrapper {
    padding: 2rem 0;
}
footer a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
footer a:hover{
    color: #000;
    opacity: 0.77;
}
footer .copyrights-section {
    text-align: center;
    background-color: #450d45;
    padding: 1.5rem 0.5rem;
    color: #fff;

}
footer .footer-icons-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}
footer .footer-icons-list svg{
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
}
@media screen and (max-width: 767px) {
    footer .footer-wrapper .row > div:not(:last-child) {
        margin-bottom: 1rem;   
    }
    footer .copyrights-section {
        font-size: 12px;
    }
}